@import "tailwindcss";
@config "../tailwind.config.js";

@theme {
  --color-ff-red: #E43A24;
  --color-ff-yellow: #CEE424;
  --color-ff-blue: #3A24E4;
  --color-ff-green: #24E43A;
  --color-ff-purple: #E424CE;
  --color-ff-navy: #092C39;
}

@layer components {
  .focus-ring {
    @apply outline-none focus-visible:ring-2 focus-visible:ring-red-500 focus-visible:ring-offset-2 active:scale-95 active:outline-none;
  }
}

.task-list-item::before {
  display: none;
}

.task-list-item {
  list-style-type: none;
}

.footnotes {
  margin-top: theme('spacing.12');
  border-top-width: 1px;
  border-color: theme('colors.gray.200');
  padding-top: theme('spacing.8');
}

:is(.dark .footnotes) {
  border-color: theme('colors.gray.700');
}

.data-footnote-backref {
  text-decoration-line: none;
}

.csl-entry {
  margin-top: theme('spacing.5');
  margin-bottom: theme('spacing.5');
}

/* https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition:
    background-color 600000s 0s,
    color 600000s 0s;
}

.katex-display {
  overflow: auto hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: theme('fontFamily.serif');
}
