@import "tailwindcss";
@config "../tailwind.config.js";

@theme {
  --color-ff-red: #E43A24;
  --color-ff-yellow: #CEE424;
  --color-ff-blue: #3A24E4;
  --color-ff-green: #24E43A;
  --color-ff-purple: #E424CE;
  --color-ff-navy: #092C39;
}

@layer components {
  .focus-ring {
    @apply outline-none focus-visible:ring-2 focus-visible:ring-red-500 focus-visible:ring-offset-2 active:scale-95 active:outline-none;
  }
}

.task-list-item::before {
  display: none;
}

.task-list-item {
  list-style-type: none;
}


.csl-entry {
  margin-top: theme('spacing.5');
  margin-bottom: theme('spacing.5');
}

/* https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition:
    background-color 600000s 0s,
    color 600000s 0s;
}

.katex-display {
  overflow: auto hidden;
}

html, body {
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

h1 {
  @apply font-serif text-4xl leading-10 font-bold tracking-wide text-blue-950 sm:text-4xl md:text-6xl md:leading-16 lg:leading-18;
}

h2 {
  font-family: theme('fontFamily.serif');
  margin-top: theme('spacing.8');
  margin-bottom: theme('spacing.2');
}

hr {
  @apply border-blue-950/50;
}

/* Custom Tabs content styling */
.prose.prose-sm :is(ul) {
  list-style-type: none;
  padding-left: 0;
}

.prose.prose-sm :is(li) {
  position: relative;
  padding-left: 1.5rem;
}

.prose.prose-sm :is(li)::before {
  content: "•";
  position: absolute;
  left: 0;
  color: theme('colors.blue.500');
  font-weight: bold;
}

.prose.prose-sm :is(li) p {
  margin: 0;
}

.prose.prose-sm :is(p) + :is(ul),
.prose.prose-sm :is(ul) + :is(p),
.prose.prose-sm :is(p) + :is(p) {
  margin-top: 1.25rem;
}

.prose.prose-sm :is(li) + :is(li) {
  margin-top: 0.2rem;
}

.prose.prose-sm strong {
  color: inherit;
}

.prose.prose-sm table {
  width: auto;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}

.prose.prose-sm table th,
.prose.prose-sm table td {
  padding-left: 1rem;
  padding-right: 1rem;
}

.prose.prose-sm table th:first-child,
.prose.prose-sm table td:first-child {
  padding-left: 0;
}

.prose.prose-sm table th:last-child,
.prose.prose-sm table td:last-child {
  padding-right: 0;
}


