@import "tailwindcss";
@config "../tailwind.config.js";

@layer utilities {
  .focus-ring {
    outline: none;
  }
  .focus-ring:focus-visible {
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
    --tw-ring-opacity: 1;
    --tw-ring-color: rgb(239 68 68 / var(--tw-ring-opacity));
    --tw-ring-offset-width: 2px;
  }
  .focus-ring:active {
    transform: scale(0.95);
    outline: none;
  }

  br.responsive {
    display: none; /* default: no line break */
  }

  @media (min-width: 500px) {
    /* only ≥ 768px */
    br.responsive {
      display: inline;
    }
  }
}

.task-list-item::before {
  display: none;
}

.task-list-item {
  list-style-type: none;
}


.csl-entry {
  margin-top: 1.25rem; /* theme('spacing.5') */
  margin-bottom: 1.25rem; /* theme('spacing.5') */
}

/* https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition:
    background-color 600000s 0s,
    color 600000s 0s;
}

.katex-display {
  overflow: auto hidden;
}

html, body {
  overflow-x: hidden;
  position: relative;
  width: 100%;
  color: #241169; /* blue-800 */
}

.prose {
  :where(ul > li):not(:where([class~="not-prose"],[class~="not-prose"] *))::marker {
    color: #241169; /* colors.blue.500 */
  }
}

.tabs ul li {
  margin: 0;
  line-height: 2rem;
}

table {
  width: auto;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}

table th,
table td {
  padding-left: 1rem;
  padding-right: 1rem;
}

table th:first-child,
table td:first-child {
  padding-left: 0;
}

table th:last-child,
table td:last-child {
  padding-right: 0;
}


